.header-container{
    display: flex;
    align-items: end;
    margin-right: 0;
    margin-left: auto;
}
.app-header{
    background-color: #253239;
    height: 45px;
    padding: 8px 32px 8px 16px;
    display: flex;
    align-items: center;

}
.app-title {
    color: white;
    font-size: 18px;
    display: inline-block;
}
.header-right-align{
    display: inline-block;
    align-items: end;
    margin-right: 0;
}
.header-center-align{
    display: inline-block;
    align-items:center;
    margin-right: auto;
    margin-left: auto;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}
.form-width{
    width: 70%;
    margin-top: 200px;
}
.search-margin{
    margin: 10px;
    color: white;
}
.input-search{
    color: white;
    user-input: white;

}
.account-icon{
    color: white;
    margin-right: 5px;
}
.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;



}
.menu-margin{
    margin-top: 30px;

}